.about {
  background: rgb(252, 252, 252);
  padding: 0rem 5rem 4rem 5rem;
  max-width: 1300px;
  margin: auto;

  h1 {
    font-size: 3.5rem;
    text-align: center;
    padding-top: 2rem;
    color: $mainColor;
    text-shadow: 1px 1px 1px black;
    letter-spacing: 0.5rem;
    font-variant: small-caps;
  }
}

.about-text {
  padding: 2rem 2rem 0rem 2rem;

  p {
    font-size: 2rem;
  }
}

.about-image {
  width: 100%;
  max-width: 40rem;
  height: 50rem;
  margin: 1rem 2rem 0rem 0rem;
  float: left;
  background: url("./images/janasea1.jpeg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  overflow: hidden;

  .about-image2 {
    height: 100%;
    width: 100%;
    object-fit: cover;
    transform: translateX(91%);
    transition: 0.4s all ease;
    background: url("./images/janasea3.jpeg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: space-between;

    span {
      color: white;
      transition: 0.4s all ease;
      border-radius: 20rem;
      font-size: 3rem;
      width: 100%;
      margin: auto;

      i {
        padding: 3rem 1rem;
        border-radius: 50%;
        transition: all 0.2s ease;
        cursor: pointer;
        &:hover{
          color: rgb(239, 239, 239);
        }
      }
    }
  }

  .img-active {
    transform: translateX(0px);
    transform: rotate(-20deg);
  }

  .arrow-active {
    transform: rotate(-160deg);
    margin-left: auto;
  }
}

.smiley {
  display: flex;
  justify-content: center;
  padding: 2rem;

  img {
    height: 5rem;
  }
}

@media screen and(max-width: 700px) {
  .about {
    padding: 0rem;

    h1 {
      padding-bottom: 1rem;
      font-size: 2.5rem;
    }
  }

  .about-image {
    margin: auto;
    float: none;
    border-radius: 2ch;
    margin-bottom: 3rem;
    height: 36rem;
    background-position: bottom;
  }

  .about-text {
    padding: 0;

    p {
      font-size: 1.8rem;
      padding: 0 2rem;
    }

  }
}