.contact-section {
  min-height: 90vh;
  max-width: 1600px;
  background: url("./images/group-hands.jpeg");
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
}

.contact-info {
  background: rgba(0, 0, 0, 0.834);
  display: flex;
  align-items: center;
  flex-direction: column;
  color: white;
  padding: 2rem 0 5rem 0;
  width: 1600px;
  text-align: center;

  h1 {
    font-size: 4rem;
    color: $mainColor;
  }

  h2 {
    font-size: 2rem;
    padding-top: 2rem;
  }

  span {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    a {
      font-size: 16px;
      color: rgb(253, 207, 101);
      text-decoration: none;
      letter-spacing: 2px;
      line-height: 1px;
      font-family: "montserrat";

      
      img {
        margin-right:7px;
        height: 24px;
        width: 29px;
      }
      &:hover {
        color: rgb(63, 222, 236);
      }
    }
  }
  h3 {
    padding-top: 2px;
    a {
      color: rgb(253, 207, 101);
      text-decoration: underline;
    }
  }
}