* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
  font-family: 'Poppins', sans-serif;
}


.logo {
  a {
    text-decoration: none;
    color: $mainColor;

  }
}

#popup{
  height: 100vh;
  display: flex;
  background: linear-gradient(rgb(18, 17, 17), rgb(37, 37, 37)), rgb(44, 36, 36);
  
    .popup-text{
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      background-color: white;
      margin: auto;
      min-width: 700px;
      min-height: 500px;
      box-shadow: 10px 0px 5px rgba(0, 0, 0, 0.601), 0px 10px 20px rgba(0, 0, 0, 0.477);
      background: linear-gradient(45deg, #ff7e5f, #feb47b);
      border-radius: 2rem;
      
      h5{
        text-align: center;
          font-size: 32px;
          font-variant: small-caps;
          margin: auto;
          color: rgb(255, 0, 0);
          text-shadow: 1px 1px 1px black;
          
        }
        p{
          font-size: 18px;
          color: rgb(1, 1, 1);
        }
    }
}