// html {
//   background: rgba(159, 159, 159, 0.5);
// }

#website {
  background-color: #e6e6e6;
}

.intro {
  max-width: 1300px;
  margin: auto;
  min-height: 60vh;
  max-height: 78vh;
  display: flex;
  position: relative;
  justify-content: center;
  background: url("./images/groupphoto-guys.jpg");
  background-size: cover;
  background-position: center;
  overflow: hidden;

  .dienstagstanzen {
    display: flex;
    margin: auto;

    p {
      position: absolute;
      bottom: 0;
      left: 0;
      color: white;
      background: black;
      // font-size: 1.2rem;
      font-size: $p2-graph;
      padding: 0 1rem;
      border-top-right-radius: 1rem;
      letter-spacing: 1px;
    }
  }

  .dancegroup2 {
    border: 2px solid white;
    background: url("./images/streetdance-girls-2.jpg");
    background-size: cover;
    background-position-y: 45%;
    background-position-x: center;
    width: 100%;
    transition: 0.3s all ease;
    z-index: 1;
    transform: translate(70%, 90%);
    overflow-x: hidden;

    .intro-arrow {
      display: inline-block;
      background: linear-gradient(50deg, $mainColor 75%, white);
      border-right: 1.5px solid white;
      border-bottom: 1.5px solid white;
      box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);
      text-shadow: 0px 0px 1px rgb(0, 0, 0);
      border-bottom-right-radius: 100%;
      width: 3rem;
      height: 3rem;
      cursor: pointer;
    }

    i {
      margin: 3px;
      width: 10px;
      height: 15px;
      color: white;
      font-size: 2rem;
      transform: rotate(225deg);
      transition: 0.5s all ease;
    }

    p {
      color: white;
      background: black;
      font-size: $p2-graph;
      padding: 0 1rem;
      border-top-left-radius: 1rem;
      letter-spacing: 1px;
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  // adding to Javascript
  .dancegroup2-active {
    transform: translate(0%, 0%);
  }
}


.intro-heading {
  display: flex;
  height: 13vh;
  max-width: 1300px;
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: absolute;
  left: 50%;
  transform: translate(-50%);

  .heading {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 4.5rem;
    font-family: "Anton", sans-serif;
    color: $mainColor;
    text-shadow: 2px 4px 1px rgb(0, 0, 0), 2px 4px 5px rgb(0, 0, 0),
      2px 4px 1px rgb(0, 0, 0), 2px 4px 2px black;
    letter-spacing: 0.5rem;
    font-variant: small-caps;
  }
}

.intro-information {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  background: rgb(255, 255, 255);
  font-family: "Poppins", sans-serif;
  max-width: 1300px;
  margin: auto;

  a {
    color: rgb(21, 21, 21);

    &:hover {
      color: rgb(25, 25, 240);
    }
  }

  h2 {
    color: rgb(0, 0, 0);
    font-size: $h2-text;
    line-height: 25px;

    span {
      color: $mainColor;
      text-shadow: 0.2px 0.2px black;
    }
  }
  p {
    font-size: $p-graph;
    color: rgb(21, 21, 21);
  }

  h3 {
    color: rgb(0, 0, 0);
    font-weight: normal;
    padding: 1rem 0;
  }

  .mittwoch,
  .payment,
  .age,
  .donnerstag {
    display: grid;
    justify-items: center;
    align-items: center;
    padding: 3rem;
    text-align: center;
    span {
      color: #eea301;
      text-shadow: 0.2px 0.2px rgb(0, 0, 0);
    }
  }

  .donnerstag,
  .age {
    border-top: 1px solid rgb(230, 230, 230);
  }

  .mittwoch,
  .payment {
    border-top: 1px solid rgb(230, 230, 230);

    h2,
    h3,
    p,
    a {

      a:hover {
        color: rgb(25, 25, 240);
      }
    }
  }

  @media screen and (max-width: 860px) {
    .mittwoch,
    .age {
      background: rgb(244, 244, 244);

      h2,
      h3,
      p,
      a {
        color: black;

        a:hover {
          color: rgb(25, 25, 240);
        }
      }
    }

    .donnerstag,
    .payment {
      background: white;

      h2,
      h3,
      p,
      a {
        color: black;

        a:hover {
          color: rgb(25, 25, 240);
        }
      }
    }
  }
}

footer {
  min-height: 7vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: #171717;

  .header {
    h2 {
      font-size: 1.4rem;
      font-family: sans-serif;
      color: rgb(255, 255, 255);
      padding-right: 2rem;
    }
  }

  .social {
    img {
      transition: all 0.3s ease;
      max-width: 28px;
      border-radius: 1.5ch;
      margin: 0.5rem 1rem 0 1rem;

      &:hover {
        transform: scale(1.2);
      }
    }
  }
}

@media screen and (max-width: 860px) {
  .intro {
    min-height: 60vh;
  }

  .intro-information {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: none;
  }

  .payment,
  .donnerstag {
    background: rgb(255, 255, 255);
  }

  .header {
    text-align: center;
  }

  .social {
    img {
      width: 24px;
    }
  }

  // H1 small screen
  @media screen and(max-width: 622px) {
    .intro-heading {
      background: none;

      .heading {
        background: rgba(0, 0, 0, 0);
        font-size: 4rem;
        padding: 0.5rem;
      }
    }

    .intro-information {
      .mittwoch,
      .payment,
      .age,
      .donnerstag {
        padding: 1.5rem;

        h3 {
          padding-top: 5px;
        }

        p {
          padding-top: 5px;
        }
      }
    }
  }

  @media screen and(max-width: 400px) {
    .intro {
      min-height: 50vh;
    }

    .intro-heading {
      .heading {
        font-size: 3.5rem;
      }
    }
  }
}
