.video-image-gallery {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.video-wrapper {
  max-width: 1400px;
  margin: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  min-height: 60vh;

  .video-info {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin: 3rem 0;
    justify-content: center;

    h2 {
      font-size: 2.9rem;
      color: $mainColor;
      text-shadow: 1px 1px 1.5px black;
      // padding-bottom: 2px;
    }

    h4 {
      font-size: 2rem;
    }
    span{
      font-size: 2.5rem;
      font-weight: bolder;
      font-family: "roboto";
    }
  }
}

.image-background {
  text-align: end;
  padding-top: 6rem;
  background: black;
  color: $mainColor;

  h4 {
    margin: auto;
    padding-right: 1rem;
    font-size: 1.5rem;
    max-width: 1300px;
      span{
        font-size: 2rem;
      }
  }
}

.image {
  display: flex;
  padding: 0rem 0 6rem 0rem;
  color: white;
  max-width: 1300px;
  margin: auto;



  .image-header {
    background: #202020;
    color: $mainColor;
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 10rem;
    border-right: 10px solid white;
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
  }

  .image-boxes {
    overflow-x: scroll;
    overflow-y: hidden;
    border-right: 5px solid rgb(255, 255, 255);

    .image-box1 {
      overflow-y: hidden;
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;

      .item {
        min-width: 30rem;
        max-width: 100rem;
        max-height: 100%;


        img {
          object-fit: cover;
          width: 100%;

          min-height: 100%;
          pointer-events: none;
        }


        .img-btn {
          position: absolute;
          top: 0;
          right: 0;
          opacity: 1;
          font-size: 1rem;
          font-weight: bolder;
          background: rgba(0, 0, 0, 0.5);
          border: 1px solid white;
          margin: 2%;
          border-radius: 1ch;
          padding: 0.5vw;
          color: white;


          &:hover {
            background: rgb(255, 255, 255);
            color: black;
            border-color: black;
          }
        }
      }
    }
  }
}

// Adding from Javascript
.enlarged {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 21;
  // border: 10px solid white;
  border-radius: 5px;
  // width: 50rem;
  height: 100%;
  margin: auto;
}

.visible {
  opacity: 1;
  cursor: pointer;
}

.background-enlarged {
  position: fixed;
  bottom: 0;
  height: 100vh;
  width: 100vw;
  background: rgba(0, 0, 0, 0.824);
  z-index: 20;
}